.main {
    display: "flex";
    flex-direction: "column";
    min-height: "100vh";
    height: "1px";
    align-items: "center";
    justify-content: "flex-start";
    background-repeat: "no-repeat";
    background-size: "cover";
    background: "linear-gradient(to top, #232526, #414345)",
}

.card {
    min-width: 300;
    margin-top: "6em";
}

.footer {

    padding: 5;
    text-align: "center !important" as "center";
    margin-top: 15;

}

.avatar {
    margin: "1em";
    display: "flex";
    justify-content: "center";
}

.icon {
    background-color: blue;
}

.link-div {
    align-self: center;
    justify-content: center;
    justify-self: center;
    text-align: "right";
}

.link {
    color: "inherit";
    text-decoration: "inherit";
    padding: "15px";
}