button {
    width: "20%";
    background-color: red;
}

.header {
    text-align: "center";
    color: blue;
}

.card-content {
    margin-left: -12;
    margin-right: -12;
    width: 50%;
    margin: 0 auto;
}

.full-input-container {
    display: "flex";
    margin: 6px;
}

.half-input-container {
    display: "flex";
    flex: 1;
    margin: 6px;
}
